<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <processors>
      <uiAddFromTemplate>
        <processor patch:instead="*[@type='Sitecore.Buckets.Pipelines.UI.AddFromTemplate.SelectItem']" mode="on" method="Execute" type="Sitecore.Support.Buckets.Pipelines.UI.AddFromTemplate.SelectItem,Sitecore.Support.119704" />
      </uiAddFromTemplate>
    </processors>
  </sitecore>
</configuration>